::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-thumb {
  background-color: #494949;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: #FCFCFC;
  border-radius: 10px;
}

a {
  text-decoration: none !important;
  color: #494949 !important;
}

.main_text {
  font-size: 2rem !important;
  color: #FCFCFC !important;
  font-weight: bold !important;
}

.main_button {
  border-radius: 1.5 !important;
  background-color: #FCFCFC !important;
  width: 60% !important;
  padding: 16px 0 !important;
  position: absolute !important;
}

.sub_text {
  font-size: 2rem !important;
  color: #494949 !important;
}

.min_text {
  font-size: 24px !important;
  color: #494949 !important;
}

.items{
  width: 120px !important;
  height: 120px !important;
}

.item_box{
  height: 210px !important;
}

@media (min-width: 350px) {
  .items{
    width: 150px !important;
    height: 150px !important;
  }
  .item_box{
    height: 230px !important;
  }
}

@media (min-width: 400px) {
  .items{
    width: 170px !important;
    height: 170px !important;
  }
}

@media (min-width: 600px) {
  .main_button {
    width: 50% !important;
  }
  .section {
    min-height: 300px !important;
  }
  .inner_section {
    min-height: 300px !important;
  }
  .items{
    width: 220px !important;
    height: 220px !important;
  }
  .item_box{
    height: 280px !important;
  }
}

@media (min-width: 900px) {
  .main_text {
    font-size: 2.5rem !important;
  }
  .main_button {
    width: 40% !important;
  }
  .sub_text {
    font-size: 1.8rem !important;
  }
  .link_text{
    font-size: 1.5rem !important;
  }
  .min_text {
    font-size: 1.3rem !important;
    color: #494949 !important;
  }
  .test1 {
    max-width: 200px !important;
  }
  .test2 {
    max-width: 200px !important;
  }
  .brand {
    width: 100% !important;
  }
  .section {
    min-height: 350px !important;
  }
  .inner_section {
    min-height: 350px !important;
  }
  .items{
    width: 200px !important;
    height: 200px !important;
  }
  .item_box{
    height: 260px !important;
  }
}

@media (min-width: 1020px) {
  .test1 {
    max-width: 250px !important;
  }
  .test2 {
    max-width: 250px !important;
  }
}

@media (min-width: 1200px) {
  .main_text {
    font-size: 3rem !important;
  }
  .sub_text {
    font-size: 2.5rem !important;
  }
  .link_text{
    font-size: 2rem !important;
  }
  .min_text {
    font-size: 1.5rem !important;
    color: #494949 !important;
  }
  .main_button {
    width: 20% !important;
  }
  .test1 {
    max-width: 300px !important;
  }
  .test2 {
    max-width: 300px !important;
  }
  .section {
    min-height: 400px !important;
  }
  .inner_section {
    min-height: 400px !important;
  }
  .items{
    width: 240px !important;
    height: 240px !important;
  }
  .item_box{
    height: 320px !important;
  }
}